.main__moments-img-wrapper, .main__moments-title, .main__subscribe, .main__boards-wrapper, .main__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__moments-title, .main__register-signup-text, .main__register-signup-title, .main__table-desc, .main__table-title, .main__design-desc, .main__design-title, .main__essentials-img-wrapper p, .main__essentials-img-wrapper h2, .main__boards-price, .main__boards-type, .main__link {
  font-size: 16px;
  font-weight: 400;
  color: #56593D;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 22px 32px;
  font-weight: 400;
}

.header__container {
  margin-bottom: 51.5px;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  align-items: center;
  width: 564.59px;
}
.header__nav-list a {
  text-transform: uppercase;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 1.58px;
  color: #56593D;
}
.header__logo {
  margin-left: 50px;
}
.header__user-abilities {
  display: flex;
}
.header__user-abilities img {
  padding: 0 12px;
}

.main__img-wrapper {
  background-image: url(./images/Rectangle.png);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main__img-info {
  position: absolute;
  bottom: 64px;
  right: 64px;
}
.main__img-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.8px;
  color: #56593D;
  text-align: right;
}
.main__img-text {
  margin-top: 10px;
  font-size: 45px;
  font-weight: 400;
  line-height: 60.48px;
  text-align: right;
  color: #56593D;
  margin-bottom: 41px;
}
.main__img-link-wrapper {
  text-align: right;
}
.main__img-link {
  text-align: center;
  color: #ffffef;
  background: #56593D;
  width: 154px;
  height: 56px;
  padding: 16px 25px 17px;
  font-size: 16px;
  line-height: 22.36px;
  letter-spacing: 1.58px;
}
.main__text-wrapper {
  margin-top: 110px;
}
.main__text {
  font-size: 57px;
  line-height: 81px;
  text-align: center;
  color: #56593D;
}
.main__link-container {
  margin-top: 25px;
  margin-bottom: 90px;
  gap: 93px;
}
.main__link {
  border-bottom: 1px solid #56593D;
  border-bottom-width: 2px;
  letter-spacing: 1.6px;
}
.main__boards {
  background: #FFFFEF;
  padding: 32px;
  margin-bottom: 23px;
}
.main__boards-title {
  padding-top: 31px;
  padding-bottom: 80px;
  text-align: center;
}
.main__boards-wrapper {
  gap: 32px;
  flex: 1;
}
.main__boards-img {
  margin-bottom: 15px;
}
.main__boards-type {
  line-height: 21.6px;
  text-align: center;
  margin-bottom: 7px;
}
.main__boards-price {
  line-height: 25.92px;
  letter-spacing: 1.62px;
  text-align: center;
}
.main__essentials {
  background: #FFFFEF;
  padding: 16px;
}
.main__essentials-img-wrapper {
  height: 700px;
  background-image: url(./images/Rectangle\ \(7\).png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main__essentials-img-wrapper h2 {
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  letter-spacing: 1.8px;
  line-height: 21.6px;
}
.main__essentials-img-wrapper p {
  position: absolute;
  top: 95px;
  max-width: 1093px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 60.48px;
  font-size: 50px;
  text-align: center;
}
.main__design-story {
  background: #FFFFEF;
  padding: 65px 32px;
}
.main__design-story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 110px;
       column-gap: 110px;
}
.main__design-img {
  width: 100%;
  height: auto;
}
.main__design-title {
  margin-bottom: 66px;
  font-size: 29px;
  line-height: 38.88px;
  text-align: center;
  position: relative;
}
.main__design-title::after {
  content: "";
  flex: 1;
  height: 1px;
  width: 40px;
  background: #56593D;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
.main__design-desc {
  font-size: 20px;
  line-height: 32.4px;
  text-align: center;
  font-family: "Jost", sans-serif;
  width: 347px;
  margin: 0 auto;
}
.main__table-time {
  padding: 65px 32px;
  background: #FFFFEF;
}
.main__table-time-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.main__table-title {
  margin-bottom: 66px;
  position: relative;
  font-size: 29px;
  line-height: 38.88px;
  text-align: center;
}
.main__table-title::after {
  content: "";
  flex: 1;
  height: 1px;
  width: 40px;
  background: #56593D;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
.main__table-desc {
  font-size: 20px;
  text-align: center;
  line-height: 32.4px;
  width: 347px;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
}
.main__table-img {
  width: 100%;
  height: auto;
}
.main__register {
  margin-top: 40px;
}
.main__register-container {
  padding: 63px;
  background: #FFFFEF;
}
.main__register-signup {
  text-align: center;
}
.main__register-signup-title {
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 38.88px;
}
.main__register-signup-text {
  font-size: 17px;
  line-height: 28.8px;
  margin-bottom: 48px;
}
.main__subscribe {
  gap: 16.41px;
}
.main__subscribe-form form input {
  background: transparent;
  outline: none;
  color: #56593D;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid #56593D;
}
.main__subscribe-link {
  padding: 1px 25px;
  background: #56593D;
  font-size: 15px;
  line-height: 22.72px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #FFFFEF;
  text-transform: uppercase;
}
.main__moments {
  margin-top: 40px;
}
.main__moments-container {
  padding: 64px 32px;
  background: #FFFFEF;
}
.main__moments-title {
  font-size: 25px;
  line-height: 32.4px;
}
.main__moments-img-wrapper {
  margin-top: 39px;
  flex: 1 1 auto;
  gap: 8px;
}
.main__moments-img {
  width: 320px;
  height: auto;
}/*# sourceMappingURL=style.css.map */