$primary: 'Roboto',
sans-serif;
$secondary: 'Jost',
sans-serif;

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%style {
    font-size: 16px;
    // letter-spacing: 1.6px;
    font-weight: 400;
    color: #56593D;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: $primary;
    padding: 22px 32px;
    font-weight: 400;
}

.header {
    &__container {
        margin-bottom: 51.5px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        width: 564.59px;

        a {
            text-transform: uppercase;
            padding: 0 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.2px;
            letter-spacing: 1.58px;
            color: #56593D;

        }
    }

    &__logo {
        margin-left: 50px;
    }

    &__user-abilities {
        display: flex;

        img {
            padding: 0 12px;

        }
    }
}

.main {
    &__img-wrapper {
        background-image: url(./images/Rectangle.png);
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__img-info {
        position: absolute;
        bottom: 64px;
        right: 64px;
    }

    &__img-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 1.8px;
        color: #56593D;
        text-align: right;
    }

    &__img-text {
        margin-top: 10px;
        font-size: 45px;
        font-weight: 400;
        line-height: 60.48px;
        text-align: right;
        color: #56593D;
        margin-bottom: 41px;
    }

    &__img-link-wrapper {
        text-align: right;
    }

    &__img-link {
        text-align: center;
        color: #ffffef;
        background: #56593D;
        width: 154px;
        height: 56px;
        padding: 16px 25px 17px;
        font-size: 16px;
        line-height: 22.36px;
        letter-spacing: 1.58px;
    }

    &__text-wrapper {
        margin-top: 110px;
    }

    &__text {
        font-size: 57px;
        line-height: 81px;
        text-align: center;
        color: #56593D;
    }

    &__link-container {
        margin-top: 25px;
        margin-bottom: 90px;
        @extend %flex;
        gap: 93px;
    }

    &__link {
        @extend %style;
        border-bottom: 1px solid #56593D;
        border-bottom-width: 2px;
        letter-spacing: 1.6px;
    }

    &__boards {
        background: #FFFFEF;
        padding: 32px;
        margin-bottom: 23px;
    }

    &__boards-title {
        padding-top: 31px;
        padding-bottom: 80px;
        text-align: center;
    }

    &__boards-wrapper {
        @extend %flex;
        gap: 32px;
        flex: 1;
    }

    &__boards-img {
        margin-bottom: 15px;
    }

    &__boards-type {
        @extend %style;
        line-height: 21.6px;
        text-align: center;
        margin-bottom: 7px;
    }

    &__boards-price {
        @extend %style;
        line-height: 25.92px;
        letter-spacing: 1.62px;
        text-align: center;
    }

    &__essentials {
        background: #FFFFEF;
        padding: 16px;
    }

    &__essentials-img-wrapper {
        height: 700px;
        background-image: url(./images/Rectangle\ \(7\).png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        h2 {
            @extend %style;
            position: absolute;
            top: 62px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 17px;
            letter-spacing: 1.8px;
            line-height: 21.6px;
        }

        p {
            @extend %style;
            position: absolute;
            top: 95px;
            max-width: 1093px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            line-height: 60.48px;
            font-size: 50px;
            text-align: center;
        }
    }

    &__design-story {
        background: #FFFFEF;
        padding: 65px 32px;
    }

    &__design-story-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 110px;
    }

    &__design-img {
        width: 100%;
        height: auto;
    }

    &__design-title {
        @extend %style;
        margin-bottom: 66px;
        font-size: 29px;
        line-height: 38.88px;
        text-align: center;
        position: relative;
    }
    

    &__design-title::after {
        content: "";
        flex: 1;
        height: 1px;
        width: 40px;
        background: #56593D;
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__design-desc {
        @extend %style;
        font-size: 20px;
        line-height: 32.4px;
        text-align: center;
        font-family: $secondary;
        width: 347px;
        margin: 0 auto;
    }

    &__table-time {
        padding: 65px 32px;
        background: #FFFFEF;
    }

    &__table-time-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 120px;
    }

    &__table-title {
        @extend %style;
        margin-bottom: 66px;
        position: relative;
        font-size: 29px;
        line-height: 38.88px;
        text-align: center;
    }

    &__table-title::after {
        content: "";
        flex: 1;
        height: 1px;
        width: 40px;
        background: #56593D;
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__table-desc {
        @extend %style;
        font-size: 20px;
        text-align: center;
        line-height: 32.4px;
        width: 347px;
        font-family: $secondary;
        margin: 0 auto;
    }

    &__table-img {
        width: 100%;
        height: auto;
    }

    &__register {
        margin-top: 40px;
    }

    &__register-container {
        padding: 63px;
        background: #FFFFEF;
    }

    &__register-signup {
        text-align: center;
    }

    &__register-signup-title {
        @extend %style;
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 38.88px;
    }

    &__register-signup-text {
        @extend %style;
        font-size: 17px;
        line-height: 28.8px;
        margin-bottom: 48px;
    }

    &__subscribe {
        @extend %flex;
        gap: 16.41px;
    }

    &__subscribe-form {

        & form {
            & input {
                background: transparent;
                outline: none;
                color: #56593D;
                font-weight: 400;
                font-family: $primary;
                border: none;
                border-bottom: 1px solid #56593D;
            }
        }
    }

    &__subscribe-link {
        padding: 1px 25px;
        background: #56593D;
        font-size: 15px;
        line-height: 22.72px;
        letter-spacing: 1.6px;
        text-align: center;
        color: #FFFFEF;
        text-transform: uppercase;
    }

    &__moments {
        margin-top: 40px;
    }

    &__moments-container {
        padding: 64px 32px;
        background: #FFFFEF;
    }


    &__moments-title {
        @extend %style;
        @extend %flex;
        font-size: 25px;
        line-height: 32.4px;
    }
        
    &__moments-img-wrapper {
        @extend %flex;
        margin-top: 39px;
        flex: 1 1 auto;
        gap: 8px;
    }

    &__moments-img {
        width: 320px;
        height: auto;
    }

    
}


